extends layout

block content

  h1 작가이름: #{author.name}
  if undefined===author.date_of_death || null===author.date_of_death
    p #{author.date_of_birth_formatted} -
  else
    p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}

  div(style='margin-left:20px;margin-top:20px')

    h4 책

    dl
      each book in author_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p 현재 이 작가의 책은 없습니다.

    if user && user.id 
      hr
      p
        a(href=author.url+'/delete') 작가 삭제
  