extends layout

block content
  h1 #{title}: #{book.name}
  p=book.lifespan

  if books_bookinstance.length

    p #[strong 작가를 삭제하기 전에 아래 책객체를 먼저 삭제하여 주세요.]

    div(style='margin-left:20px;margin-top:20px')

      h4 포함된 책객체 리스트

      dl
      each bookinstance in books_bookinstance
        dt
          a(href=bookinstance.url) #{bookinstance._id}
        dd #{bookinstance.imprint}

  else
    p 이 책을 삭제하시겠습니까?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book.id )

      button.btn.btn-primary(type='submit') 삭제하기