extends layout

block content

  h1 아이디: #{bookinstance._id}

  p #[strong 타이틀:]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong 날인:] #{bookinstance.imprint}

  p #[strong 상태:]
    if bookinstance.status=='Available'
      span.text-success 사용가능
    else if bookinstance.status=='Maintenance'
      span.text-danger 작업중
    else
      span.text-warning 사용중

  if bookinstance.status!='Available'
    p #[strong 반납일:] #{bookinstance.due_back_formatted}
  
  if user && user.id 
    hr
    p
      a(href=bookinstance.url+'/delete') 삭제하기
    p
      a(href=bookinstance.url+'/update') 업데이트하기