extends layout 

block content 

  h1 장르: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')


    h4 책

    dl 
      each book in genre_books 
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary} 

      else 
        p 현재 장르의 책이 없습니다.

    if user && user.id 
      hr
      p
        a(href=genre.url+'/delete') 삭제하기