extends layout
block content  
  h1= title
  p #[em LocalLibrary]에 오신걸 환영합니다..

  h1 아이템

  if error
    p 에러
  else
    p 아래와 같은 레코드가 검색됨:

    ul
      li #[strong 책:] !{data.book_count}
      li #[strong 카피:] !{data.book_instance_count}
      li #[strong 사용가능한 카피:] !{data.book_instance_available_count}
      li #[strong 작가:] !{data.author_count}
      li #[strong 장르:] !{data.genre_count}